{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'}">
<style>

div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url('/static/img/board.jpg') no-repeat;
}
div#messageArea{
	position: relative;
	top: 0px;
	left: 0px;
	color: rgb(85, 175, 20);
}
table{
	position: relative;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}
td{
	width: 94px;
	height: 94px;
}
form{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	background-color: rgb(85, 175, 20);
}
form input{
	background-color: rgb(150, 200, 110);
	border-color: rgb(85, 175, 20);
	font-size: 1.1em;
}
.hit{
	background: url('/static/img/ship.png') no-repeat center center;
}
.miss{
	background: url('/static/img/miss.png') no-repeat center center;
}

td:hover{
    background-color: #398E0E;
    border-color: #4FC414;
    cursor: pointer;
}
</style>
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="column">
            <div id="board">
                <div id="messageArea"></div>
                <table id="table">
                    <tr>
                        <td id="00" onClick="clickHandle(this.id)"></td>
                        <td id="01" onClick="clickHandle(this.id)"></td>
                        <td id="02" onClick="clickHandle(this.id)"></td>
                        <td id="03" onClick="clickHandle(this.id)"></td>
                        <td id="04" onClick="clickHandle(this.id)"></td>
                        <td id="05" onClick="clickHandle(this.id)"></td>
                        <td id="06" onClick="clickHandle(this.id)">
                    </tr>
                    <tr>
                        <td id="10" onClick="clickHandle(this.id)"></td>
                        <td id="11" onClick="clickHandle(this.id)"></td>
                        <td id="12" onClick="clickHandle(this.id)"></td>
                        <td id="13" onClick="clickHandle(this.id)"></td>
                        <td id="14" onClick="clickHandle(this.id)"></td>
                        <td id="15" onClick="clickHandle(this.id)"></td>
                        <td id="16" onClick="clickHandle(this.id)"></td>
                    </tr>
                    <tr>
                        <td id="20" onClick="clickHandle(this.id)"></td>
                        <td id="21" onClick="clickHandle(this.id)"></td>
                        <td id="22" onClick="clickHandle(this.id)"></td>
                        <td id="23" onClick="clickHandle(this.id)"></td>
                        <td id="24" onClick="clickHandle(this.id)"></td>
                        <td id="25" onClick="clickHandle(this.id)"></td>
                        <td id="26" onClick="clickHandle(this.id)"></td>
                    </tr>
                    <tr>
                        <td id="30" onClick="clickHandle(this.id)"></td>
                        <td id="31" onClick="clickHandle(this.id)"></td>
                        <td id="32" onClick="clickHandle(this.id)"></td>
                        <td id="33" onClick="clickHandle(this.id)"></td>
                        <td id="34" onClick="clickHandle(this.id)"></td>
                        <td id="35" onClick="clickHandle(this.id)"></td>
                        <td id="36" onClick="clickHandle(this.id)"></td>
                    </tr>
                    <tr>
                        <td id="40" onClick="clickHandle(this.id)"></td>
                        <td id="41" onClick="clickHandle(this.id)"></td>
                        <td id="42" onClick="clickHandle(this.id)"></td>
                        <td id="43" onClick="clickHandle(this.id)"></td>
                        <td id="44" onClick="clickHandle(this.id)"></td>
                        <td id="45" onClick="clickHandle(this.id)"></td>
                        <td id="46" onClick="clickHandle(this.id)"></td>
                    </tr>
                    <tr>
                        <td id="50" onClick="clickHandle(this.id)"></td>
                        <td id="51" onClick="clickHandle(this.id)"></td>
                        <td id="52" onClick="clickHandle(this.id)"></td>
                        <td id="53" onClick="clickHandle(this.id)"></td>
                        <td id="54" onClick="clickHandle(this.id)"></td>
                        <td id="55" onClick="clickHandle(this.id)"></td>
                        <td id="56" onClick="clickHandle(this.id)"></td>
                    </tr>
                    <tr>
                        <td id="60" onClick="clickHandle(this.id)"></td>
                        <td id="61" onClick="clickHandle(this.id)"></td>
                        <td id="62" onClick="clickHandle(this.id)"></td>
                        <td id="63" onClick="clickHandle(this.id)"></td>
                        <td id="64" onClick="clickHandle(this.id)"></td>
                        <td id="65" onClick="clickHandle(this.id)"></td>
                        <td id="66" onClick="clickHandle(this.id)"></td>
                    </tr>
                </table>
                <form>
                    <input type="text" id="guessInput" placeholder="A0">
                    <input type="button" id="fireButton" value="Fire!">
                </form>
            </div>
        </div>
    </div>
</div>
<form id="is_won_form" action="{% url 'game_won' %}" method="POST">{% csrf_token %}
    <input id="is_won" name="is_won" type="hidden" value="false">
</form>
<script type="text/javascript" src="{% static 'script.js' %}"></script>
{% endblock %}