{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/board.jpg' %}" width="32" height="32" alt="">
                BattleShip
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="form-inline">
                        <a class="btn btn-outline-success" href="{% url 'game' %}">Начать игру</a>
                    </li>
                    </li>
                    <li class="form-inline">
                        <a class="btn btn-outline-success" href="{% url 'players_rate'%}">Рейтинг пользователей</a>
                    </li>
                </ul>
            </div>
            {% if request.user.is_authenticated %}
            Привет, <a href="{% url 'player_info' request.user.username %}">{{request.user.username}}</a> ! Твой ранг: {{user.player.rang}}
            <a href="{% url 'logout' %}">log out</a>
            {% else %}
            <form method="POST" action="{% url 'login' request.user.username %}">{% csrf_token %}
                <input name="username" type="text" placeholder="username">
                <input name="password" type="password" placeholder="password">
                <button type="submit">login</button>
            </form>
            <a href="{% url 'registration' %}">sign up</a>
            {% endif %}

        </div>
    </nav>
</header>